/* Custom Cursor */
.cursor {
  display: none; /* hide on touch devices */
}

/* General Styling */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px; /* same as desktop */
  background-color: #D9D9D9;
  font-family: "Noto Sans", sans-serif;
  color: #535353;
  display: flex;
  flex-direction: column;
}

/* Header */
.index-header {
  position: sticky;
  top: 0;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 20px 0px;
  margin: 0 30px;
}

.index-header a {
  color: #535353;
  text-decoration: none;
  font-size: 1.4rem;
  transition: opacity 0.3s;
}

/* Main */
.index-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* About & List View */
.about-content,
.list-view-content {
  opacity: 0;
  pointer-events: none;
  max-width: 800px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-content p,
.list-view-content p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.list-view-content p{
  text-align: center;
}

.about-content a,
.list-view-content a {
  color: #535353;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Footer always lower right */
.index-footer {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: right;
  z-index: 10;
}

.index-footer img {
  width: 120px;
  height: auto;
}
